Which of the following command lines can help us find the version of Python that we are currently working on?

python -v
check-python-version
python --show-version
python --version

In [6]:
!python --version

Python 3.12.12

In [10]:
import seaborn as sns
iris = sns.load_dataset('iris')

Question 20: What is minimum value of sepal_width for "virginica" variety in the iris dataset?

In [11]:
virginica_sepal_width = iris[iris['species'] == 'virginica']['sepal_width']
min_sepal_width_virginica = virginica_sepal_width.min()
print(f"The minimum sepal_width for 'virginica' is: {min_sepal_width_virginica}")

The minimum sepal_width for 'virginica' is: 2.2

Question 21: Construct a dataframe where petal_length is greater than the mean petal_length of whole iris dataset.

How many observations are there in this dataframe?

In [12]:
mean_petal_length = iris['petal_length'].mean()
filtered_iris = iris[iris['petal_length'] > mean_petal_length]
num_observations = len(filtered_iris)

print(f"Number of observations with petal_length greater than the mean: {num_observations}")

Number of observations with petal_length greater than the mean: 93

Question 22: Which of the following are true for the Iris dataset? Select all that apply.

There are 43 versicolor
The mean value of sepal_length in this dataframe rounds to 5.843
Only 3 species are present in this dataframe
There is 0 virginica

In [16]:
# Check if there are 43 versicolor
num_versicolor = len(iris[iris['species'] == 'versicolor'])
print(f"Number of versicolor: {num_versicolor}")

# Check the mean of sepal_length
mean_sepal_length = iris['sepal_length'].mean()
print(f"Mean sepal_length: {mean_sepal_length:.3f}")

# Check the number of unique species
num_species = iris['species'].nunique()
print(f"Number of unique species: {num_species}")

# Check if there are 0 virginica
num_virginica = len(iris[iris['species'] == 'virginica'])
print(f"Number of virginica: {num_virginica}")

Number of versicolor: 50
Mean sepal_length: 5.843
Number of unique species: 3
Number of virginica: 50

Question 23: Which variable pair has the highest pearson correlation in the whole iris dataset?

sepal_length, sepal_width
petal_length, sepal_length
sepal_length, petal_width
petal_length, petal_width

In [17]:
# Calculate the correlation matrix
correlation_matrix = iris.corr(numeric_only=True)

# Get the correlation values for the specified pairs
sepal_length_sepal_width_corr = correlation_matrix.loc['sepal_length', 'sepal_width']
petal_length_sepal_length_corr = correlation_matrix.loc['petal_length', 'sepal_length']
sepal_length_petal_width_corr = correlation_matrix.loc['sepal_length', 'petal_width']
petal_length_petal_width_corr = correlation_matrix.loc['petal_length', 'petal_width']

# Store the correlations in a dictionary
correlations = {
    'sepal_length, sepal_width': sepal_length_sepal_width_corr,
    'petal_length, sepal_length': petal_length_sepal_length_corr,
    'sepal_length, petal_width': sepal_length_petal_width_corr,
    'petal_length, petal_width': petal_length_petal_width_corr
}

# Find the pair with the highest absolute correlation
highest_corr_pair = max(correlations, key=lambda item: abs(correlations[item]))
highest_corr_value = correlations[highest_corr_pair]

print(f"The variable pair with the highest Pearson correlation is '{highest_corr_pair}' with a correlation of {highest_corr_value:.3f}")

The variable pair with the highest Pearson correlation is 'petal_length, petal_width' with a correlation of 0.963

Quesiton 24:
Which of the following are true for whole iris dataset?

The mean value of petal_length of setosa is 1.46 (rounded)
setosa has the largest average sepal_width
The standard deviation of sepal_length of setosa is 0.35 (rounded)
virginica has largest sepal_length

In [18]:
# Calculate mean petal_length for setosa
setosa_petal_length_mean = iris[iris['species'] == 'setosa']['petal_length'].mean()
print(f"Mean petal_length for setosa: {setosa_petal_length_mean:.2f}")

# Calculate average sepal_width for each species and find the max
avg_sepal_width_by_species = iris.groupby('species')['sepal_width'].mean()
print(f"Average sepal_width by species:\n{avg_sepal_width_by_species}")
setosa_has_largest_sepal_width = avg_sepal_width_by_species.idxmax() == 'setosa'
print(f"Setosa has the largest average sepal_width: {setosa_has_largest_sepal_width}")


# Calculate standard deviation of sepal_length for setosa
setosa_sepal_length_std = iris[iris['species'] == 'setosa']['sepal_length'].std()
print(f"Standard deviation of sepal_length for setosa: {setosa_sepal_length_std:.2f}")

# Find the species with the largest sepal_length
largest_sepal_length_species = iris.loc[iris['sepal_length'].idxmax(), 'species']
print(f"Species with the largest sepal_length: {largest_sepal_length_species}")

Mean petal_length for setosa: 1.46
Average sepal_width by species:
species
setosa        3.428
versicolor    2.770
virginica     2.974
Name: sepal_width, dtype: float64
Setosa has the largest average sepal_width: True
Standard deviation of sepal_length for setosa: 0.35
Species with the largest sepal_length: virginica

In [19]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

Question 25: What is the number of passengers in the 2nd class (pclass of 2) who survived (survived equal to 1) in the titanic dataset?

In [20]:
# Filter for passengers in 2nd class who survived
second_class_survived = titanic[(titanic['pclass'] == 2) & (titanic['survived'] == 1)]

# Count the number of observations
num_second_class_survived = len(second_class_survived)

print(f"The number of passengers in the 2nd class who survived is: {num_second_class_survived}")

The number of passengers in the 2nd class who survived is: 87

Question 26: What is the age range in the 1st class who did not survive (survived equal to 0)?
16-70
1-74
2-71
4-80

In [21]:
# Filter for passengers in 1st class who did not survive
first_class_not_survived = titanic[(titanic['pclass'] == 1) & (titanic['survived'] == 0)]

# Get the age range
min_age = first_class_not_survived['age'].min()
max_age = first_class_not_survived['age'].max()

print(f"The age range for 1st class passengers who did not survive is: {min_age}-{max_age}")

The age range for 1st class passengers who did not survive is: 2.0-71.0

Question 27: What is the percentage of female passengers who survived, rounded to the nearest whole percent?

In [22]:
# Filter for female passengers
female_passengers = titanic[titanic['sex'] == 'female']

# Filter for female passengers who survived
female_survived = female_passengers[female_passengers['survived'] == 1]

# Calculate the percentage of female survivors
percentage_female_survived = (len(female_survived) / len(female_passengers)) * 100

# Round to the nearest whole percent
rounded_percentage = round(percentage_female_survived)

print(f"The percentage of female passengers who survived is: {rounded_percentage}%")

The percentage of female passengers who survived is: 74%

Quesiton 28: Which variables have missing values in the titanic dataset?
sex
embarked
deck
age

In [23]:
# Check for missing values in the specified columns
missing_values = titanic[['sex', 'embarked', 'deck', 'age']].isnull().sum()

print("Missing values per column:")
print(missing_values)

Missing values per column:
sex           0
embarked      2
deck        688
age         177
dtype: int64

Question 29: Which of the following are true for titanic dataset?
Survival rate is highest in 1st class passengers
Survival rate is highest for passengers who embarked at S = Southampton
Survival rate is highest for passengers who emabarked at C = Cherbourg
Survival has positive correlation with passenger class
Survival has negative correlation with fare

In [24]:
# Calculate survival rate by passenger class
survival_rate_by_class = titanic.groupby('pclass')['survived'].mean()
print(f"Survival rate by passenger class:\n{survival_rate_by_class}")

# Calculate survival rate by embarkation point
survival_rate_by_embarked = titanic.groupby('embarked')['survived'].mean()
print(f"Survival rate by embarkation point:\n{survival_rate_by_embarked}")

# Calculate correlation between survival and passenger class
survival_pclass_corr = titanic['survived'].corr(titanic['pclass'])
print(f"Correlation between survival and passenger class: {survival_pclass_corr:.3f}")

# Calculate correlation between survival and fare
survival_fare_corr = titanic['survived'].corr(titanic['fare'])
print(f"Correlation between survival and fare: {survival_fare_corr:.3f}")

Survival rate by passenger class:
pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64
Survival rate by embarkation point:
embarked
C    0.553571
Q    0.389610
S    0.336957
Name: survived, dtype: float64
Correlation between survival and passenger class: -0.338
Correlation between survival and fare: 0.257